.agent-monitor .cc-box-content {
    clear: both;
    background-color: #ffffff;
    color: inherit;
    padding: 10px;
    border: #cccccc solid 1px;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-radius: 10px;
    margin: 10px 0;
}

.agent-monitor ul {
    padding: 0;
    margin: 0;
}

.agent-monitor ul li {
    list-style: none;
}

.cc-box-content .query-selector {
  padding-top: 18px;
}

.cc-box-content .option_title {
    line-height: 32px;
    width: 80px;
    float: left;
    padding-left: 10px;
}

.cc-box-content .options {
    display: inline-block;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cc-box-content .options li {
    float: left;
    padding: 5px 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 8px;
    cursor: pointer;
    transition: all .2s;
    margin-bottom: 8px
}

.cc-box-content .options li:hover {
    background: #ccc;
    transition: all .2s;
}

.cc-box-content .options li.active {
    border: 1px solid #18a689;
    background: #18a689;
    color: white
}

.cc-box-content .checkbox label{
    line-height: 32px;
}



/* 状态展示 */
.state_bar table {
    width: 100%;
}
.state_bar .cc-btn {
    margin-right: 10px;
    cursor: default;
}
.state_bar .total {
     background-color: #23c6c8;
     border-color: #23c6c8;
     color: #FFFFFF;
 }
.state_bar .ready {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}
.state_bar .not_ready {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #FFFFFF;
}
.state_bar .talking {
    background-color: #9400D3;
    border-color: #9400D3;
    color: #FFFFFF;
}
.state_bar .dialing {
    background-color: #E066FF;
    border-color: #E066FF;
    color: #FFFFFF;
}
.state_bar .ringing {
    background-color: #FF3E96;
    border-color: #FF3E96;
    color: #FFFFFF;
}
.state_bar .hold {
    background-color: #B22222;
    border-color: #B22222;
    color: #FFFFFF;
}
.state_bar .offline {
    background-color: #c2c2c2;
    border-color: #c2c2c2;
    color: #FFFFFF;
}



.box_monitor {
    height: 135px;
    background: #ffffff;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    border-radius: 0 10px 10px 0;
}

.box_monitor p {
    margin: 0;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 1px solid #18a689;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.start_monitor {
    display: inline-block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    font: 400 15px/80px '';
    text-align: center;
    color: #ffffff;
    background: #18a689;
    cursor: pointer
}

.start_monitor:active {
    background: #18927a;
}

/* 咨询组 */
.group_title {
    display: inline-block;
    border-left: 5px solid #18927a;
    width: auto;
    height: 20px;
    margin: 8px 0;
    padding-left: 15px;
    font: 700 15px/20px '';
    color: #18927a
}

.group_left {
    color: #18927a;
    float: left;
    /* width: 80px; */
    padding: 3px 8px;
    /* border: 1px solid #18927a; */
    font-weight: bolder;
    width: 10%

}

.group-list ul {
    /* margin-left: 20px; */
    float: left;
    width: 90%
}

.group-list ul.status {
    float: left;
    width: 90%
}

.group-list ul li {
    float: left;
    /* width: 120px; */
    /* height: 40px; */
    /* margin-right: 10px; */
    width: 14.28571%
}

.group-list ul.status li {
    float: left;
    /* width: 180px; */
    /* height: 40px; */
    /* margin-right: 10px; */
    width: 14.28571%
}

.group-list ul.status li p {
    width: 120px;
    height: 30px;
    float: left;
    margin-left: 20px;
    font-weight: 600;
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
    line-height: 30PX;
}

.group-list ul li .circle {
    width: 8px;
    height: 8px;
    background: #676a6c;
    border-radius: 50%;
    float: left;
    margin-right: -20px;
}

.groupp_status {
    float: left;
    width: 50px;
    height: 20px;
}

.groupp_text {
    float: left;
    width: 100px;
    height: 20px;
    margin-left: 20px;
    line-height: 20px;
    font-weight: 600
}

/* 坐席监控 图形 */
.monitor-graph {
    display: table;
    padding: 10px 10px 0;
}

.monitor-graph > ul > li {
    padding: 5px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 3px;
    position: relative
}

.monitor-graph p {
    padding: 0;
    margin-bottom: 0
}

.monitor-graph .job-number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    background: #fff;
    line-height: 43px;
}

.monitor-graph .agent-name {
    color: #fff;
    margin: 5px 0;
}

.monitor-graph .agent-state-timer {
    color: #fff;
    margin-top: 5px;
    display: inline-block;
}

/* 离线 */
.monitor-graph .offline {
    display: none
}

.monitor-graph .offline {
    background: #e2e2e2;
}

.monitor-graph .offline .job-number {
    background: #fff;
}

.monitor-graph .offline .agentName {
    color: grey;
}

.monitor-graph .offline .monitor_btns span {
    background: #9e9e9e;
}

/* 就绪 */
ul li.ready {
    background: #1ab394
}

ul li.ready .job-number {
    color: #1ab394
}

ul li.ready .monitor_btns span {
    background: #048067;
}

/* 未就绪 */
ul li.not_ready {
    background: #f8ac59
}

ul li.not_ready .job-number {
    color: #f8ac59
}

ul li.not_ready .monitor_btns span {
    background: #e49931;
}

/* 通话 */
ul li.talking {
    background: #9400D3;
}

ul li.talking .job-number {
    color: #9400D3
}

ul li.talking .monitor_btns span {
    background: #9808D6;
}

/* 呼叫 */
ul li.dialing {
    background: #E066FF;
}

ul li.dialing .job-number {
    color: #E066FF
}

ul li.dialing .monitor_btns span {
    background: #CD5EE9;
}

/* 振铃 */
ul li.ringing {
    background: #FF3E96;
}

ul li.ringing .job-number {
    color: #FF3E96
}

ul li.ringing .monitor_btns span {
    background: #FA4B9A;
}

/* 保持 */
ul li.hold {
    background: #B22222;
}

ul li.hold .job-number {
    color: #B22222
}

ul li.hold .monitor_btns span {
    background: #B42C2C;
}

.monitor_btns {
    width: 90px;
    overflow: hidden;
}

.monitor_btns span {
    color: #fff;
    padding: 0 5px;
    margin: 0 !important;
}

.more_list {
    position: absolute;
    width: 100px;
    height: auto;
    bottom: 0;
    left: 0;
    background: #f3f3f3;
    border-radius: 5px 5px 0 0;
    display: none
}

.more_list span {
    width: 100px;
    height: 22px;
    float: left;
    line-height: 22px;
    cursor: pointer;
    font-size: 12px;
}

.more_list span:hover {
    background: #d4d3d3
}



/*坐席监控-表格*/
.monitor-table table {
    width: 100%;
    height: 100%;
    overflow-x: visible
}
.offline-row{
    display: none;
}
.offline-row .agentstate {
    color: #999999;
}
.ready-row .agentstate {
    color: #1ab394;
}
.not_ready-row .agentstate {
    color: #f8ac59;
}
.talking-row .agentstate {
    color: #9400D3;
}
.dialing-row .agentstate {
     color: #E066FF;
 }
.ringing-row .agentstate {
    color: #FF3E96;
}
.hold-row .agentstate {
    color: #B22222;
}

.monitor-table table .state-switching {
    position: relative;
}

